<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <variable name="LOG_PATH" value="D:\logs" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
<!--        <file>myApp.log</file>-->
        <file>${LOG_PATH}\myapp.log</file>

        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] -%kvp- %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
<!--            <fileNamePattern>application.%d{yyyy-MM-dd}.log</fileNamePattern>-->
            <maxFileSize>1MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>

<!--If you need to apply customizations to logback beyond those that can be achieved with application.properties, you’ll need to add a standard logback configuration file.-->
<!--In a Spring Boot application, you can put the Logback.xml file in the resources folder.-->
