<configuration>
    <springProperty name="springApplicationName" scope="context" source="application.name"/>
    <springProperty name="appRollingFileName" scope="context" source="logging.rolling.file"/>
    <springProperty name="rollingFileMaxHistory" scope="context" source="logging.rolling.file.max.history"/>
    <springProperty name="rollingFileMaxSize" scope="context" source="logging.rolling.file.max.size"/>


    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="dev,int,qa,pre">
        <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="com.example.SprintBootAppWithSQL.config.MaskingPatternLayout">
<!--                    <maskPattern>"body":\{([^$}]+)\}</maskPattern>-->
<!--                    <maskPattern>"channelData":\{([^$}]+)\}</maskPattern>-->
<!--                    <maskPattern>Customer\((.*?)\)</maskPattern>-->
<!--                    <maskPattern>fromLabel":"([^"]+)</maskPattern>-->

<!--                    <maskPattern>"customer"\s*:\s*\{([^$}]*)\}</maskPattern>-->
<!--                    <maskPattern>"additionalDetail"\s*:\s*\{([^$}]*)\}</maskPattern>-->
<!--                    <maskPattern>"senderName"\s*:\s*"([^"]*)"</maskPattern>-->
                    <Pattern>%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(|) ${LOG_LEVEL_PATTERN:-%5p} %highlight(|) %cyan(%class{0}) %highlight(|) %magenta(%method | Line:%L) %highlight(|) %yellow(%X{correlationId}) %highlight(|)  %red(%thread)  %highlight(|) %blue(%X{userName}) %highlight(|) %m  %n</Pattern>
                </layout>
            </encoder>
        </appender>

        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/${springApplicationName}.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${appRollingFileName}</fileNamePattern>
                <maxHistory>${rollingFileMaxHistory}</maxHistory>
                <totalSizeCap>${rollingFileMaxSize}</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <Pattern>%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(|) ${LOG_LEVEL_PATTERN:-%5p} %highlight(|) %cyan(%class{0}) %highlight(|) %magenta(%method | Line:%L) %highlight(|) %yellow(%X{correlationId}) %highlight(|)  %red(%thread)  %highlight(|) %blue(%X{AgentId}) %highlight(|) %m  %n</Pattern>
            </encoder>
        </appender>

<!--        <logger name="" level="DEBUG">-->
<!--            <appender-ref ref="FILE" />-->
<!--        </logger>-->
        <root level="INFO">
            <appender-ref ref="stdout"/>
            <appender-ref ref="FILE" />
        </root>
    </springProfile>
</configuration>

<!--If you need to apply customizations to logback beyond those that can be achieved with application.properties, you’ll need to add a standard logback configuration file.-->
<!--In a Spring Boot application, you can put the Logback.xml file in the resources folder.-->
